@charset "UTF-8";

.recipe__board__table1 {
    width: 100%;
    height: 100%
}

.wishlist, .wishlistpage, .quit, input.title, input.wishDelete {
	
	background: #ff9800;
    color: #fff;
    padding: 5px 10px;
    width: auto;
    margin:1%;
    border-radius: 15px;
    height: 40px;
}
.wishlist:hover, .wishlistpage:hover, .quit:hover, input.title:hover, input.wishDelete:hover{
	background: #ffc107;
}

.img__size1{
	width: 200px;
	height: 200px;
}

#wish__List1{
	float: left;
	width: 14%;
	height: 250px;
}

#wish__List2{
	float: right;
	width: 85%;
	height: 250px;
}